{% extends 'main/index.html' %}

{% block title %}Configuration{% endblock %}

{% block content %}
<h1>Config Page</h1>

{% if permitted %}
<div>
  <form method="post" action="/csvExport/">
    {% csrf_token %}
    <input type="submit" value="Export to CSV">
    <input type="hidden" id="cfgpw" name="cfgpw" value="{{ cfgpass }}">
  </form>
</div>
{% else %}
<div>
  {{ message }}
  <form method="post" action="/config/">
    {% csrf_token %}
    <div>
      <input type="password" name="cfgpw" id="cfgpass" placeholder="Password">
      <input type="submit" data-inline="true" value="Enter">
    </div>
  </form>
</div>
{% endif %}
<hr>

{% endblock %}

{% block javascript %}
{% endblock %}

{% block style %}
{% endblock %}