{% extends 'main/index.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% csrf_token %}
<div class="container-fluid">
	<div id="sticky-anchor"></div>
	<div id="sticky" class="sticky">
		<a id="hs_totals" href="#collapse" data-toggle="collapse">Hide Totals</a>
		<div class="row collapse in" id="collapse">
			<div id="summary">
			{% if False %}
 				<div class="col-md-3">
					<div id="overall_totals_summaryData">
						{% with summaryData=overall_totals_summaryData slug="(Includes Pre-Sharathon Dollars)"%}
						{% include 'main/summary.html' %}
						{% endwith %}
					</div>
				</div>
			{%endif%}
				<div class="col-md-3">
					<div id="summary_day">
						{% with summaryData=latest_day_summaryData HREFLINK=latest_day_hourlyBreakdownHREFLink goal=goal_daily %}
						{% include 'main/summary.html' %}
						{% endwith %}
					</div>
				</div>
				<div class="col-md-3">
					<div id="summary_latest">
						{% with summaryData=latest_hour_summaryData goal=goal_hourly %}
						{% include 'main/summary.html' %}
						{% endwith %}
					</div>
				</div>
				{% if previous_hour_summaryData %}
				<div class="col-md-3">
					<div id="summary_previous">
						{% with summaryData=previous_hour_summaryData goal=goal_previous_hourly %}
						{% include 'main/summary.html' %}
						{% endwith %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="panel-group" id="accordion">
		{% include 'main/multiple_pledges.html' %}
	</div>
	<div id="spinner"><img src="/static/main/ajax-loader.gif" /></div>
	<div style="visibility:hidden" id="latestid">{{ latestid }}</div>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/main/js/dashboard.js"></script>
<script src="/static/main/js/entryeffects.js"></script>
<script src="/static/main/js/insertingDateFunctions.js"></script>
{% endblock %}

{% block style %}
<link href="/static/main/css/entrylist.css" rel="stylesheet" />	
<link href="/static/main/css/dashboard.css" rel="stylesheet" />	
{% endblock %}
