{% extends 'main/index.html' %}
{% block title %}Entry List Detail - {% if label %}{{ label }}{% endif %}{% endblock %}
{% block content %}
{% if label %}<h1>{{ label }}</h1>{% endif %}
<div class="container-fluid">
	{% if user.is_authenticated %}
	<div class="row">
		<a onclick="exporttocsv()">Export to CSV</a>
	</div>
	{% endif %}

	<div class="row">
	  {% include 'main/summary.html' %}
	</div>

	<div class="row">
	 	<div class="panel-group" id="accordion">
	  		{% include 'main/multiple_pledges.html' %}
		 </div>
	</div>
	<div id="spinner"><img src="/static/main/ajax-loader.gif" /></div>
</div>
{% endblock %}

{% block style %}
<link href="/static/main/css/entrylist.css" rel="stylesheet" />	
{% endblock %}

{% block javascript %}
<script src="/static/main/js/insertingDateFunctions.js"></script>
<script type="text/javascript">
	// we don't want users able to change the thanked status as we're not handling that with this view
	$('.panel-group input[type=checkbox]').attr('disabled','true');

	// the report pill should be active if we're on this page
	$('#nav_report').addClass('active');
	
	function getURLParameter(name) {
		return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
	}
	
	function exporttocsv() {
		window.location="/csvExport/?list=" + getURLParameter("list");
	}
	
	$("#spinner").hide();
	
	insertHourMarkers();
	
	function getLid(){
	  	// create an array
	  	var ar = new Array();
	  	// for each element with id that starts with 'id'
	  	$('.panel-collapse').each(
	    	function(){
	      		// extract the numeric part to be added in the array
	      		var id = parseInt( $(this).attr('id'));
	      		// add it to the array (only its numeric part)
	      		ar.push(id);
	  		});
	  	
	  	// find the max value in the array
	  	pagelid = Math.max.apply(Math, ar);
	  	return pagelid;
	}
	
	$(window).data('ajaxready', true).scroll(function(){
  		if ($(window).data('ajaxready') == false) return;

 		var scrollTop = $(document).scrollTop();
	  	var windowHeight = $(window).height();
	  	var bodyHeight = $(document).height() - windowHeight;
	  	var scrollPercentage = (scrollTop / bodyHeight);
	  	var lid = getLid();
	  
	  	// if the scroll is more than 90% from the top, load more content.
	  	if (lid > 1) {
	    	if(scrollPercentage > 0.90) {
		      	$(window).data('ajaxready', false);
		    	
		    	//ajax get of next data
		    	$("#spinner").show();
		    	$.get('/ajax_get_next_listDetail/', { 'lid': lid, 'list': getURLParameter("list") }, function(rawdata, status) {
			        if (status == 'success' ) {
			        	var data = $(rawdata);
			          	
			          	$("#spinner").hide();
			          	$("#accordion").append(data);
			          	$.get("/static/main/js/entryeffects.js");
			          	$(window).data('ajaxready', true);
			          	insertHourMarkers();
					} 
				})
				.always(function(){
					$("#spinner").hide();
				});
			}
	    }
	});
	
	
</script>
{% endblock %}