{% extends 'main/index.html' %}
{% block title %}Entry List Detail - {% if label %}{{ label }}{% endif %}{% endblock %}
{% block content %}
{% if label %}<h1>{{ label }}</h1>{% endif %}
<div class="container-fluid">
	{% if summaryData %}
	<div class="row">
			{% include 'main/summary.html' %}
	</div>
	{% endif %}
	<div class="row">
	 	<div class="panel-group" id="accordion">
	  		{% include 'main/multiple_pledges.html' %}
		 </div>
	</div>
</div>
{% endblock %}

{% block style %}
<link href="/static/main/css/entrylist.css" rel="stylesheet" />	
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	// we don't want users able to change the thanked status as we're not handling that with this view
	$('.panel-group input[type=checkbox]').attr('disabled','true');

	// the report pill should be active if we're on this page
	$('#nav_report').addClass('active');
	
	// enable fancy effects
	$.get("/static/main/js/entryeffects.js");
	
</script>
{% endblock %}