{% load prepend_dollars %}
<!-- {{ entry.id }} -->
<div class="panel panel-default">
	{% if entry.is_monthly %}
	<div class="hoverclick panel-heading monthly" data-toggle="collapse" data-parent="#accordion" data-target="#{{ entry.id }}">
	{% else %}
	<div class="hoverclick panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#{{ entry.id }}">
	{% endif%}
    	<h4 class="panel-title">
			<div>
				{% if entry.is_thanked == False %}<span class="glyphicon glyphicon-alert"></span>{% endif %}
				{% if entry.is_first_time_donor %}<span class="glyphicon glyphicon-heart"></span>{% endif %}
				{{ entry.amount | prepend_dollars }} - {{ entry.firstname }} {{ entry.lastname }} - {{ entry.city }} - {{ entry.station.callsign }}
			</div>
		</h4>
  	</div>
  
	<div id="{{ entry.id }}" class="panel-collapse collapse">
		<div class="panel-body">
			<div><strong>Created:</strong> {{ entry.create_date }} <strong>SystemID:</strong> {{ entry.id }}</div>
			<div><strong>Monthly: </strong>{{ entry.is_monthly }} <strong>First Time Donor: </strong>{{ entry.is_first_time_donor }}</div>
			<div><strong>Thanked: </strong>
				{%if entry.is_thanked %}
				<input style="position:relative;left:10px" type="checkbox" checked="True" disabled />
				{% else %}
				<input style="position:relative;left:10px" class="thankbox" type="checkbox" /> 
				{% endif %}
			</div>
			<div><strong>Phone:</strong> {{ entry.phone_number }}</div>
			<div><strong>Station:</strong> {{ entry.station.callsign }} - {{ entry.station.name }}</div>
			<div><strong>City:</strong> {{ entry.city }}</div>
			<div><strong>Tags:</strong> {{ tags }}</div>
			<div><strong>Comment:</strong> {{ entry.comment }}</div>
			<div style="text-align:center;top:10px">
				<a href="/bumpPledgeTime/?entryid={{ entry.id }}&direction=back&mins=9">Bump back 9 mins</a> -- 
				<a href="/editPledgeEntry/?entryid={{ entry.id }}">Edit this entry</a> -- 
				<a href="/bumpPledgeTime/?entryid={{ entry.id }}&direction=forward&mins=9">Bump forward 9 mins</a>
				
			</div>
		</div>
	</div>
</div>