{% extends 'main/index.html' %}
{% load prepend_dollars %} 
{% block title %}Pledge Entry{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
	
		<div class="col-sm-6">
        {% if entryObject.id %}
        	<h3>Edit: {{ entryObject.amount | prepend_dollars}} - {{ entryObject.firstname }} {{ entryObject.lastname }}</h3>
        	<div id="pledgeFormContent">
        		{% include 'main/pledgeEntryForm.html' %}
        	</div>
        {% else %}
  			<h2>Pledge Entry</h2>
        	<div id="pledgeFormContent">
        		{% include 'main/pledgeEntryForm.html' %}
  			</div>
  		{% endif %}
		</div>
	
		<div class="col-sm-6">
			<h2>Recent Entries</h2>
			<ul id="recenEntries" class="list-group">
				<div class="container-fluid">
					<div style="visibility:hidden" id="latestid">{{ latestid }}</div>
					<div class="panel-group" id="accordion">
						{% include 'main/multiple_pledges.html' %}
					</div>
				</div>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

// Enable entry effects
$.get("/static/main/js/entryeffects.js");

// Disable the "Thanked" checkbox as we're not handeling it here
$('.panel-group input[type=checkbox]').attr('disabled','true');


</script>
{% endblock %}


{% block style %}
<style>
table, th, td {
    border: 1px solid grey;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #d9edf7;
    border: 1px solid #337ab7;
}

.form-group ul {
  list-style: none;
  position:relative;
  right:35px;
}

input[type="checkbox"] {
  transform:scale(2, 2);
  position:relative;
  left:10px;
  top:3px;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #d9edf7;
    border: 2px solid #337ab7;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #d9edf7;
    border-color: #337ab7;
}
.panel-default>.monthly {
  
    background-color: #ffffdc;
}
.panel-heading {
    cursor: pointer;
}

</style>
{% endblock %}
