{% extends 'main/index.html' %}
{% block title %}Pledge Entry{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">

  			<h2>Pledge Entry</h2>
				<a href="/pledgeEntry/?getrandom=True">Add Random</a>
        <div id="pledgeFormContent">{% include 'main/pledgeEntryForm.html' %}

      </div>
    </div>
    <div class="col-sm-6">

      <h2>Recent Entries</h2>
			<div id="re_jquerytarget">
			</div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {

  // BEGIN Recent Entries Handler

  $("#addRandom").click(function(eventObject) {
    var textNames = [
      'Alpha','Bravo','Charlie','Delta','Echo','Foxtrot','Golf','Hotel','India','Juliet','Kilo','Lima',
      'Mike','November','Oscar','Papa','Quebec','Romeo','Sieerra','Tango','Uniform','Victor','Whiskey',
      'X-Ray','Yankee','Zulu'
    ];
    eventObject.preventDefault();
    var name = textNames[Math.floor(Math.random()*textNames.length)] + ' ' +
      textNames[Math.floor(Math.random()*textNames.length)];
      addEntry(name);
  });


	function addEntry(strEntry){
    $("#recenEntries").prepend('<li class="list-group-item">'+strEntry+'</li>');
  };


  // END Recent Entries handler

	// Resituation the recentEntries (hack)
	$("#re_jquerytarget").html( $("#recenEntries").html() );
	$("#recenEntries").remove();
	// END recentEntries resituation

  // BEGIN pledgeEntry post
  $("#cornerstone_no").on('submit','#pageContent', function(eventObject) {
    eventObject.preventDefault();

    $.post( "/pledgeEntry/", $("#PledgeEntryForm").serialize() )
      .done(function( data ) {
					var data2 = $(data).html();
					var find = $(data2).find(".div").hasClass("form-group");
					console.log(find);
					// var pform = $("#PledgeEntryForm", $(data)).val();
					var pform = $(data).find("#PledgeEntryForm").val();
					var rentries = $("#recenEntries", $(data)).val();

        	$('#pledgeFormContent').html(pform);
					$('#recenEntries').html(rentries);

      })
      .fail(function( data ) {
        console.log("JQuery POST failed!  -- ");
        console.log(data);
      })


  });
  // End pledgeEntry post
});
</script>
{% endblock %}

{% block style %}
<style>
table, th, td {
    border: 1px solid grey;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #d9edf7;
    border: 1px solid #337ab7;
}
</style>
{% endblock %}
