{% if entryObject.id %}
<form action="/editPledgeEntry/" method="POST" id="PledgeEntryForm" novalidate="novalidate">
{% else %}
<form action="/pledgeEntry/" method="POST" id="PledgeEntryForm" novalidate="novalidate">
{% endif %}

	{% csrf_token %}
	<div class="form-group">
		{% for field in form %}
		{{ field.label_tag }}
		{{ field }}
		<div id="error" class="alert-warning">{{ field.errors.as_text }}</div>
		{% endfor %}
			
		    
		{% if entryObject.id %}
		<input type="hidden" name="entryid" value="{{ entryid }}"/>
		<input type="submit" value="Edit" />
		{% else %}
		<input type="submit" value="Submit" /> - <a href="/pledgeEntry/?getrandom=True">Add Random</a>
		{% endif%}
	</div>
</form>

