{% extends 'main/index.html' %}
{% load prepend_dollars %} 
{% block title %}Report{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    {% if user.is_authenticated %}
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select a Campaign to view <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href='/report/'>Active campaign</a></li>
          <li role="separator" class="divider"></li>
          {% for id,name in campaigns.items %}
          <li><a href='/report/?campaignid={{ id }}'>{{ name }}</a></li>
          {% endfor %}
        </ul>
      </div>		
    {% endif %}

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownDayDetail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select a day for Hourly Breakdown <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownDayDetail">
          {% for day, entry in daySummary.items %}
          <li><a href='/hourlyBreakdown/?label={{ entry.label }}&list={{ entry.encoded_dayEntries }}'>{{ entry.formattedDate}} - ({{ entry.count }})</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">    
      <h2><i>{{ campaign_name }}</i></h2>
        {% with summaryData=fullSummary %}
          {% include 'main/summary.html' %}
        {% endwith %}
    </div>
	</div>
	
	
	  {% if start_date and end_date %}
	  <div class="row">
	    <div class="col-sm-4">
			{% with summaryData=preSummary slug=preSlug%}
				{% include 'main/summary.html' %}
			{% endwith %}
		</div>
		<div class="col-sm-4">
			{% with summaryData=midSummary slug=midSlug%}
				{% include 'main/summary.html' %}
			{% endwith %}
		</div>
		<div class="col-sm-4">
			{% with summaryData=postSummary slug=postSlug%}
				{% include 'main/summary.html' %}
			{% endwith %}
		</div>
		{% endif %}
    </div>


</div>
{% endblock %}


{% block style %}
<link href="/static/main/css/entrylist.css" rel="stylesheet" />	
{% endblock %}
