{% extends 'main/index.html' %}
{% load prepend_dollars %} 
{% block title %}Report{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
    	{% if user.is_authenticated %}
		{% if campaign_name %}
    	<h2><i>{{ campaign_name }}</i></h2>
		{% endif %}    		
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Select a Campaign to view
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href='/report/'>Active campaign</a></li>
		    <li role="separator" class="divider"></li>
		  	{% for id,name in campaigns.items %}
		  	<li><a href='/report/?campaignid={{ id }}'>{{ name }}</a></li>
			{% endfor %}
		  </ul>
		</div>
    		
    	{% endif %}
    	
		<h2>Daily Breakdown</h2>
			{% for day, entry in daySummary.items %}
				{% with summaryData=entry.summaryData %}
					{% include 'main/summary.html' %}
				{% endwith %}
				{% if request.GET.campaignid %}
					<a href="/report/?campaignid={{ request.GET.campaignid }}&dayDetail={{ entry.dayDetail }}">See Hourly Breakdown</a><br/><br/><br/>
				{% else %}
					<a href="/report/?dayDetail={{ entry.dayDetail }}">See Hourly Breakdown</a><br/><br/><br/>
				{% endif %}
			{% endfor %} 
        
    </div>
    <div class="col-sm-6">

		{% if date %}
      	<h2>Hourly Breakdown - {{ date }}</h2>
	      	{% for hour, entry in hourlyBreakdown.items %}
	      		{% with summaryData=entry.summaryData %}
	      			{% include 'main/summary.html' %}
	      		{% endwith %}

	      	{% endfor %}	
	  	{% endif %}	

    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}


{% block style %}
<style>
table, th, td {
    border: 1px solid grey;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #d9edf7;
    border: 1px solid #337ab7;
}

.form-group ul {
  list-style: none;
  position:relative;
  right:35px;
}

input[type="checkbox"] {
  transform:scale(2, 2);
  position:relative;
  left:10px;
  top:3px;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #d9edf7;
    border: 2px solid #337ab7;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #d9edf7;
    border-color: #337ab7;
}
.panel-default>.monthly {
  
    background-color: #ffffdc;
}
.panel-heading {
    cursor: pointer;
}

</style>
{% endblock %}
