<!doctype html>
<html lang="en">
  <body>
  <input type="textbox" class="text1"/>
  <input type="textbox" class="text1"/>
  ..
  <input type="checkbox" class="checkbox"/>
  
  
  
  
    <script src="/static/main/js/jquery1.12.4.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".text1").val("test");
        console.log("tested");
      });
      
      
      
    </script>
    
    <style>
 
    </style>
  </body>
</html>
