.tags{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
	position: relative;
	margin-bottom: 12px;
}

.tag{
	padding-left: 5px;
	padding-right: 5px;
	background-color: #f3f2ff;
}

.tag:not(:last-child) {
  margin-right: 4px;
}


.red{
    boarder: 1px solid black;
    outline-color: red;
    outline-style: dotted;
}

.green{
    boarder: 1px solid black;
    outline-color: green;
    outline-style: dotted;
}

.blue{
    boarder: 1px solid black;
    outline-color: blue;
    outline-style: dotted;
}

.anonname {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.anonhover:hover + .anonname {
    opacity: 1.0;
}