.red{
    boarder: 1px solid black;
    outline-color: red;
    outline-style: dotted;
}

.green{
    boarder: 1px solid black;
    outline-color: green;
    outline-style: dotted;
}

.blue{
    boarder: 1px solid black;
    outline-color: blue;
    outline-style: dotted;
}

